# Project exclude paths
/.gradle/
/AuthMicroService/build/
/AuthMicroService/build/classes/java/main/
/ConfigService/build/
/ConfigService/build/classes/java/main/
/UserMicroService/build/
/UserMicroService/build/classes/java/main/